<div class="container">
  <div class="decks">
    <% @decks.each do |deck| %>
    <form action="/decks/<%=deck.id%>" method="get">
      <div class="myButton" type="submit"><%=deck.name%></div>
    </form>
    <% end %>
  </div>
</div>
