<div class="container">
  <div class="decks">
    <form action="/decks/1" method="get">
      <div class="myButton" type="submit">Star Trek</div>
    </form>
    <form action="/decks/2" method="get">
      <div class="myButton" type="submit">State Capitals</div>
    </form>
    <form action="/decks/3" method="get">
      <div class="myButton" type="submit">OOP Concepts</div>
    </form>
    <form action="/decks/4" method="get">
      <div class="myButton" type="submit">Git Commands</div>
    </form>
  </div>
</div>
