<div class="container">
  <div class="decks">
    <% @decks.each do |deck| %>
    <form action="/decks/<%=deck.id%>" method="get">
      <button type="submit"><%=deck.name%></button>
    </form>
    <% end %>
    <!-- <form action="/decks/2" method="get">
      <button type="submit">State Capitals</button>
    </form>
    <form action="/decks/3" method="get">
      <button type="submit">OOP Concepts</button>
    </form>
    <form action="/decks/4" method="get">
      <button type="submit">Git Commands</button>
    </form> -->
  </div>
</div>
