<div class="container">
  <div class="decks">
    <form action="/decks/1" method="get">
      <button type="submit">Star Trek</button>
    </form>
    <form action="/decks/2" method="get">
      <button type="submit">State Capitals</button>
    </form>
    <form action="/decks/3" method="get">
      <button type="submit">OOP Concepts</button>
    </form>
    <form action="/decks/4" method="get">
      <button type="submit">Git Commands</button>
    </form>
  </div>
</div>
