<div class="container">
  <div class="cards">
    <%= @card_result %>
    <div class="question">Question: <%= card.definition %></div>
    <div class="answer">Answer:   <%= card.answer %></div>
  </div>
</div>
