<div class="container">
  <div id="login">
    <form action="/logins" method="POST">
      <%=erb :"/_form", locals: {} %>
      <button class="login" type="submit">Login</button>
    </form>
  </div>
</div>
